.General {
  line-height: 1.8;
  font-size: 26px;
  &__Content {
    margin-top: 50px;
    font-weight: 600;
  }
  li,
  p {
    font-size: 16px;
    font-weight: 200;
  }
  p {
    line-height: 1.3;
  }
}
